.menssage-top {
    text-align: center;
    padding: 7rem 0 3rem;      
}

.container-data {
    display: grid;
    grid-template-columns: 22rem auto;
    padding: 0 4.5rem 5rem;
}

.container-note {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 66vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: .4rem .7rem;
    padding: 1rem;
    background-color: #7d7676;
    color: #000;
    border-radius: .3rem;
}

.cheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-options a {
    text-decoration: none;
    margin-left: .4rem;
    color: #4c4949;
}

.icon-options {
    font-size: 16px;
}

.cbody {
    display: flex;
    flex-direction: column;
}

.cbody p {
    overflow-wrap: break-word;
    color: #232222;
}

.details-note {
    background-color: #7d7676;
    margin: .4rem 1rem .4rem 2.5rem;
    padding: 1rem;
    border-radius: .3rem;
}