header {
    background-color: #000000;
    color: #0099ff;
    width: 100%;
    top: 0;
    position: fixed;
}

.link {
    color: #0099ff;
    text-decoration: none;
}

.nav-container {
    display: grid;
    grid-template-columns: auto 26rem;
    align-items: center;
    margin: 0 10rem;
    padding: 1.3rem 1rem;
}

.logo-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-info img {
    height: 45px;
}

.logo-info a {
    font-size: 22px;
    padding-left: 1rem;
}

.list-navegation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    margin: 0;
}

.list-navegation li {
    margin-left: 3rem;
}
